@import "mapbox-gl/dist/mapbox-gl.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet styles (for backward compatibility if needed) */
.leaflet-container img { max-width:none !important; }
.leaflet-container { width:100% !important; height:100% !important; }